@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: all 0.5s ease-in-out;
  height: 143px; /* Collapsed size */
  z-index: 0;
}

.expanded {
  height: 205px; /* Expanded size */
  z-index: 50;
}